<html ng-app="DroneControl">
    <head>
        <title>Control</title>

        <!-- Libs -->
        <script src="/libs/angular/angular.js"></script>
        <script src="/libs/angular/angular-animate.js"></script>
        <script src="/libs/angular/angular-aria.min.js"></script>
        <script src="/libs/angular/angular-messages.js"></script>
        <script src="/libs/angular/angular-sanitize.js"></script>
        <script src="/libs/jquery/jquery-3.2.1.min.js"></script>
        <script src="/libs/angular-material/angular-material.js"></script>
        <script src="/libs/socket.io/socket.io.js"></script>

        <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/libs/angular-material/angular-material.css">

        <!-- Javascripts -->
        <script src="/javascripts/app.js"></script>
        <script src="/javascripts/services/drone.srv.js"></script>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>

    <body>
        <md-button class="md-raised md-warn">Warn</md-button>
    </body>
</html>